body {
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    background-color:#00332B;
    text-align: center;
}

a {
    color: #FFFFFF;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

.header {
    background-color: #001A11;
    padding: 5px;
    margin-left: 15%;
    margin-right: 15%;
}

.banner {
    text-align: center;
    padding: 5px;
}

.playlist-item {
    padding: 10px;
}