<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spotify - Person Playlist Generator</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Playlist Generator</h1>
    <ul>
        <li><a href="/all-playlists">All playlists</a></li>
        <li><a href="/playlist?name=Discover+Weekly">Discover Weekly</a></li>
        <li><a href="/playlist-albums?name=Discover+Weekly">Discover Weekly Albums</a></li>
        <li><a href="/recommendations-genre">Recommendations for Genre</a></li>
    </ul>
</div>
</body>
</html>