{% extends "base.html" %}

{% block body %}
<h2>Recommendations for Genre</h2>

<div class="select-genre">
    <form action="/recommendations-genre-items" method="post">
        <label for="genre-names">Choose a genre:</label>
        <select name="genre" id="genre-names">
            {% for genre in genres %}
            <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
    </form>
</div>

<div class="media-body">
    <ul>
        {% for playlist_track in playlist_content.tracks %}
        <li>
            <b>{{ playlist_track.title }}</b><br>
            {{ playlist_track.artist.name }} - {{ playlist_track.album.name }}
            <br>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="save-playlist">
    <p>
        <input type="text" id="playlistNameField">
        <button type="button" id="savePlaylistButton">Save</button>
        <label id="messageLabel"></label>
    </p>
    <script>
        document.getElementById("playlistNameField").value = "{{ playlist_content.name }}";
    </script>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#savePlaylistButton").click(function () {
            var newPlaylistName = $("#playlistNameField").val();
            var playlistContentJson = JSON.parse({{ playlist_content.to_json() | tojson }});
            var playlistTracks = playlistContentJson["tracks"];
            var playlistDataToPost = JSON.stringify({ "name": newPlaylistName, "tracks": playlistTracks });
            console.log("Creating playlist '" + newPlaylistName + "'");

            $.ajax({
                url: "/playlist",
                type: "post",
                contentType: "application/json",
                data: playlistDataToPost,
                success: function (response) {
                    console.log("Successfully created playlist '" + newPlaylistName + "'");
                    document.getElementById("messageLabel").value = "Saved!";
                },
                error: function (xhr) {
                    console.log("Error occurred creating playlist '" + newPlaylistName + "'");
                }
            });
        });
    });
</script>
{% endblock %}